<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/product/product_list.css">
  <link rel="stylesheet" href="/layout.css"/>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <title>Document</title>
</head>
<body>
<div layout:fragment="content"  class="container">
  <div class="nav-section">
    <nav>
      <ul>
        <li class="logo-box">
          <a href="/"><img src="https://i.imgur.com/S8oMBKh.png" alt=""></a>
          <div class="supplise"><a href="/product/list?category=GOODS">용품</a></div>
          <div class="supplise"><a href="/product/list?category=EQUIPMENT">기구</a></div>
          <div class="supplise"><a href="/product/list?category=FOOD">식품</a></div>
        </li>
        <li class="member-box">
        <li><a th:href="@{/mypage}" sec:authorize="isAuthenticated()">마이페이지</a></li>
        <li><a th:href="@{/member/logout}" sec:authorize="isAuthenticated()">로그아웃</a></li>
        <li><a th:href="@{/member/signup}" sec:authorize="isAnonymous()">회원가입</a></li>
        <li><a th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인</a></li>
        </li>
      </ul>
      <div class="search">
        <div class="search-box">
          <form id="search-form" method="get" th:action="@{/product/list}">
            <input id="search_kw" name="kw" placeholder="검색어를 입력해주세요." th:value="${kw}" type="text">
            <input type="hidden" name="category" th:value="${category}" />
            <input type="hidden" name="subCategory" th:value="${subCategory}" />
            <button type="submit">
              <img
                src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <div class="container-wrap">

    <div th:each="subCategory : ${subCategories}" class="subcategory">
      <ul>
        <li >
          <a th:href="@{|/product/list?category=${category}&subCategory=${subCategory}|}" th:text="${subCategory}"></a>
        </li>
      </ul>
      <div th:text="${subCategory}" class="product-title"></div>
    </div>

    <div class="sort-section">
      <ul>
        <li><a href="">인기순</a></li>
        <li><a href="">높은 가격순</a></li>
        <li><a href="">낮은 가격순</a></li>
      </ul>
    </div>

    <div class="product-list">
      <ul th:each="product : ${products}">
        <li>
          <a href="">
            <div class="img-box">
              <a th:href="@{|/product/${product.id}|}">
               <img th:src="${product.imgPath}" alt="">
              </a>
            </div>
            <div class="info">
              <div >
                <a th:text="${product.name}" class="name" th:href="@{|/product/${product.id}|}"></a>
              </div>
              <div th:text="${product.price}" class="cost"><span>원</span></div>
              <div th:text="${product.viewCount}"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>

<!--    <div th:if="${paging?.isEmpty() == false}" style="text-align: center;">-->
<!--      <ul class=" page-btn pagination1 justify-content-center">-->
<!--        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">-->
<!--          <a class="page-link1" th:href="${paging.hasPrevious} ? @{|?page=${paging.number-1}|} : @{|?page=0|}">-->
<!--            <span><</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"-->
<!--            th:if="${page >= paging.number-5 and page <= paging.number+5}"-->
<!--            th:classappend="${page == paging.number} ? 'active'"-->
<!--            class="page-item">-->
<!--          <a th:text="${page+1}" class="page-link1" th:href="@{|?page=${page}|}"></a>-->
<!--        </li>-->
<!--        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">-->
<!--          <a class="page-link1" th:href="@{|?page=${paging.number+1}|}">-->
<!--            <span>></span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->

</div>


  <div th:replace="/footer.html"></div>
</body>
</html>