<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/admin/admin_member.css">
  <title>Title</title>
</head>
<body>

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
      <li>
        <a th:href="@{/}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>메인 페이지</a>
      </li>
      <li>
        <a th:href="@{/admin/order}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>주문 관리</a>
      </li>
      <li>
        <a th:href="@{/admin/product}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>상품 관리</a>
      </li>
      <li>
        <a th:href="@{/admin/member}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>회원 관리</a>
      </li>
      <li>
        <a th:href="@{/admin/review}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>리뷰 관리</a>
      </li>
      <li>
        <a th:href="@{/admin/notice}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>공지사항 관리</a>
      </li>
    </ul>
  </div>

  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid xyz">
      <div class="row">
        <div class="col-lg-12">
          <h1>회원 관리</h1>

          <div class="date_content">
            <div class="date_title"><p>회원 관리 </p></div>

            <div class="date_data">
              <!--    리스트 -->
              <table class="list_table">
                <thead>
                <tr>
                  <th class="number">회원번호</th>
                  <th class="title">회원 e-mail</th>
                  <th class="name">닉네임</th>
                  <th class="name">가입일</th>
                  <th class="date">권한</th>
                  <th class="button_menu">선택</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${memberList}">
                  <td class="number" th:text="${member.id}"></td>
                  <td class="title" th:text="${member.username}"></td>
                  <td class="nickname" th:text="${member.nickname}"></td>
                  <td class="nickname" th:text="${member.createDate}"></td>
                  <td class="date" th:text="${member.role.value}"></td>
                  <td class="button_menu">
                    <label class="order_check"><input type="checkbox" name="userCheck"  > </label>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->

<script>
  $(document).ready(function () {
    $("#adminPlus").on("click", function () {
      adminConfirmOrder(); // 버튼이 클릭되면 adminConfirmOrder 함수를 실행합니다.
    });
  });


  function getSelectedUserId() {
    const checkedUsers = $("input[name='userCheck']:checked");
    if (checkedUsers.length === 1) {
      return checkedUsers.first().closest('tr').find('.number').text();
    } else {
      alert("하나의 유저를 선택해주세요.");
      return null;
    }
  }

  function adminConfirmOrder() {
    const selectedUserId = getSelectedUserId();

    if (selectedUserId !== null) {
      $.ajax({
        type: "POST",
        url: "/admin/user/adminPlus/" + selectedUserId,
        success: function (response) {
          alert("관리자로 변경되었습니다.");
          window.location.reload();
        },
        error: function () {
          alert("관리자 변경이 실패했습니다.");
        }
      });
    } else {
      alert("변경할 회원을 선택해주세요.");
    }
  }
 //마이너스

  $(document).ready(function () {
    $("#adminMinus").on("click", function () {
      adminMinus(); // 버튼이 클릭되면 adminMinus 함수를 실행합니다.
    });
  });


  function adminMinus() {
    const selectedUserId = getSelectedUserId();

    if (selectedUserId !== null) {
      $.ajax({
        type: "POST",
        url: "/admin/user/adminMinus/" + selectedUserId,
        success: function (response) {
          alert("관리자 권한이 회수되었습니다.");
          window.location.reload();
        },
        error: function () {
          alert("관리자 변경이 실패했습니다.");
        }
      });
    } else {
      alert("변경할 회원을 선택해주세요.");
    }
  }
</script>
</body>
</html>