<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/review_create.css}">
</head>
<body>
<div id="modal">
    <form th:action="@{/review/create}"  th:object="${reviewCreateDTO}" method="post">
        <div class="modal-content">
            <div class="main-title">Review</div>
            <div class="subject">제목</div>
            <hr>
            <input type="text" name="title" th:field="*{title}">
            <div class="score-title">평점</div>
            <hr>
            <div th:field="*{starScore}" class="score">
                <input type="checkbox">5점
                <input type="checkbox">4점
                <input type="checkbox">3점
                <input type="checkbox">2점
                <input type="checkbox">1점
            </div>
            <div class="content">내용</div>
            <hr>
            <textarea name="content" id="" cols="30" rows="10" th:field="*{content}"></textarea>
            <div class="btn-section">
                <button type="submit">저장하기</button>
                <button type="submit"><a th:href="@{/product/list}">취소하기</a></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>