<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/post_detail.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="board">
        <div class="board-subject" th:text="${post.title}">
        </div>
        <span class="author" th:text="${post.author.username}"></span>
        <br>
        <span class="create-date" th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></span>
        <br>
        <div class="board-content" th:text="${post.content}">
        </div>

        <div class="list">
            <a th:href="@{/post/list}">목록</a>
            <a th:href="@{|/post/modify/${post.id}|}">수정</a>
            <a th:href="@{|/post/delete/${post.id}|}">삭제</a>
        </div>

        <form th:action="@{|/comment/create/${post.id}|}" th:object="${commentCreateDTO}" method="post">
            <input type="text" th:field="*{content}" name="content" placeholder=" 내용을 입력해주세요.">
            <button type="submit" style="">저장하기</button>
            <button type="submit"><a th:href="@{|/post/detail/${post.id}|}">취소하기</a></button>
        </form>

        <div th:each="comment : ${post.commentList}">
            <ul>
                <li th:id=${comment.id} th:text="${comment.content}"></li>
                <div class="comment-option">
                    <a th:href="'javascript:doDisplay(\'' + ${comment.id} + '\')'"> 수정</a><br/><br/>
                    <div th:id="'myDIV-' + ${comment.id}" style="display:none;">
                        <div id="commentId" th:data-comment-id="${comment.id}"></div>
<!--                        <div id="content" th:data-content-id="${content}"></div>-->
                        <form  th:id="'commentForm-' + ${comment.id}">
                            <input type="text" id="content" name="content">
<!--                            <input type="hidden" th:id="'commentId-' + ${comment.id}" th:value="${comment.id}">-->
                            <button type="button" th:onclick="sendComment('${comment.id}')">수정하기</button>
                            <button type="button"><a th:href="@{|/post/detail/${post.id}|}">취소하기</a></button>
                        </form>
                    </div>
                </div>
                <div class="comment-option">
                    <a th:href="@{|/comment/delete/${comment.id}|}">
                        삭제
                    </a>
                </div>
            </ul>
        </div>
    </div>
</div>


</body>

<script>
    function doDisplay(commentId) {
         var con = document.getElementById("myDIV-" + commentId);
         if(con.style.display=='none'){
             con.style.display = 'block';
         }else{
             con.style.display = 'none';
         }
     }

     function sendComment(commentId) {
         // 댓글 데이터 가져오기
         var content = $("#content").val();
<!--         var commentId = $("#commentId").val();-->

          var commentId = document.getElementById('commentId').getAttribute('data-comment-id');

         // AJAX 요청 보내기
         $.ajax({
             url: "/comment/modify/" + commentId, // 수정 댓글을 보낼 URL
             method: "POST",
             data: {content: content}, // 수정 데이터를 서버로 전달
             success: function(response) {
                 alert("수정 했습니다.");

                 $("#" + commentId).text(response)
             },
             error: function(xhr, status, error) {
                 alert("수정 실패했습니다. 다시 시도해주세요.");
             }
         });
     }
 <!--    ajax url 문제 해결 필요 comment id 데이터를 받아오지 못함-->
</script>

</html>