<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/mypage/mypage-me.css"/>
    <link rel="stylesheet" href="/layout.css">
    <title>Mypage</title>
</head>
<body>

<div th:replace="/navbar.html"></div>

<div layout:fragment="content" class="container">
    <div class="img-section">
        <img src="https://i.ytimg.com/vi/-gBA_HA9sV0/maxresdefault.jpg" alt="">
    </div>
    <div class="info-section">
        <ul class="menu">
            <a th:href="@{/mypage/me}"><li> 회원정보</li></a>
            <a th:href="@{/mypage/order}"><li> 내가 주문한 상품</li></a>
            <a th:href="@{/mypage/cart}"><li> 장바구니</li></a>
            <a th:href="@{/mypage/post}"><li> 내가 쓴 게시글</li></a>
            <a th:href="@{/mypage/edit}"><li> 개인정보 변경</li></a>
        </ul>
        <ul class=info>
            <li>
                <div>NickName : </div>
                <div th:text="${member.nickname}"></div>
            </li>
            <li>
                <div>username : </div>
                <div th:text="${member.username}"></div>
            </li>
            <li><div>E-mail : </div>
                <div th:text="${member.email}"></div></li>
            <li><div>phone-number : </div>
                <div th:text="${member.phoneNumber}"></div></li>
            <li><div>Address : </div>
                <div th:text="${member.address}"></div></li>
            <a th:href="@{${'/member/delete/' + member.username}}">
                <button>회원 탈퇴</button>
            </a>
        </ul>
    </div>
</div>

<div th:replace="/footer.html"></div>

</body>
</html>