<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mypage</title>
    <link rel="stylesheet" href="/mypage/mypage-edit.css"/>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>

<div th:replace="/navbar.html"></div>

<div layout:fragment="content"  class="container">
    <div class="img-section">
        <img src="https://i.ytimg.com/vi/-gBA_HA9sV0/maxresdefault.jpg" alt="">
    </div>
    <div class="info-section">
        <ul class="menu">
            <a th:href="@{/mypage/me}"><li> 회원정보</li></a>
            <a th:href="@{/mypage/order}"><li> 내가 주문한 상품</li></a>
            <a th:href="@{/mypage/cart}"><li> 장바구니</li></a>
            <a th:href="@{/mypage/review}"><li> 내가 쓴 리뷰</li></a>
            <a th:href="@{/mypage/edit}"><li> 개인정보 변경</li></a>
        </ul>
        <div class="edit-section">
            <div class="title">개인정보 변경</div>
            <form  th:action="@{/member/update/me}" class="edit-user" th:object="${memberUpdateDTO}" method="post" >
                <div class="form_errors" th:replace="~{form_errors :: formErrorsFragment}"></div>

                <div class="pw-title">비밀번호</div>
                <input type="text" class="pw" th:field="*{newPassword}" name="newPassword">

                <div class="pw-check-title">비밀번호 확인</div>
                <input type="text" class="pw-check" th:field="*{newPassword2}" name="newPassword2">

                <div class="nickName-title">닉네임</div>
                <input type="text" class="nickName" th:field="*{newNickname}" name="newNickname">

                <div class="email-title">E-mail</div>
                <input type="text" class="email" th:field="*{newEmail}" name="newEmail">

                <div class="phone-title">휴대폰 번호</div>
                <input type="text" class="phone" th:field="*{newPhoneNumber}" name="newPhoneNumber">


                <!--  회원 주소 수정           -->
                <div class="address-title">주소</div>

                <div class="adr-section">
                    <input type="text" class="address" id="sample6_postcode" placeholder="우편번호">
                    <input class="adr-find" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                </div>

                <input type="text" id="sample6_address" name="newAddress" placeholder="주소" class="num">

                <input type="text" id="sample6_extraAddress" name="extraAddress" placeholder="참고항목" class="num">

                <input type="text" id="sample6_detailAddress" name="detailAddress" class="num" placeholder="상세주소를 입력해주세요.">

                <div class="button">
                    <button>저장하기</button>
                    <button type="button" th:onclick="|location.href='@{/mypage}'|">취소하기</a></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="/footer.html"></div>

</body>
<!--    주소 검색 스크립트-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수
                var detailAddr = ''; // 상세주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    <!--        주소 참고 항목            -->
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                <!--     우편번호    -->
                document.getElementById('sample6_postcode').value = data.zonecode;
                <!--      주소          -->
                document.getElementById("sample6_address").value = addr ;
                <!--      상세주소          -->
                document.getElementById("sample6_detailAddress").value = detailAddr
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();

            }
        }).open();
    }
</script>
</html>