spring:
  profiles:
    active:
    include: secret
  datasource:
    driverClassName: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/mcm?useUnicode=true&characterEncoding=utf8&serverTimeZone=Asia/Seoul
    username: root
    password:
  security:
    oauth2:
      client:
        registration:
          kakao:
            scope:
            client-name: Kakao
            authorization-grant-type: authorization_code
            redirect-uri: 'http://localhost:8080/{action}/oauth2/code/{registrationId}'
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  thymeleaf:
    cache: false
    prefix: file:src/main/resources/templates/
  jpa:
    properties:
      hibernate:
        format_sql: 'true'
        show_sql: 'true'
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 500MB
custom:
  genFileDirPath: C:\Users\hanjaehyun\Pictures\genFile
  resourcePath: C:\Users\hanjaehyun\Pictures\genFile
  requestPath: /upload/**
  originPath: /upload/
  paymentSecretKey: test_ck_ZLKGPx4M3M41oaJJ5zo8BaWypv1o