*{
  margin: 0;
  padding: 0;
   background-color: black;
}
form {
    text-align : center;
}

a{
  text-decoration:none;
  color:inherit;
}

ul,li{
  text-decoration:none;
  list-style:none;
}


.container{
  width: 1200px;
  margin:auto;

}

.container>.nav-bar{
  width: 900px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  color:white;
}

.nav-bar>.left{
  width: 400px;
  display:flex;
  justify-content:space-around;
}

.nav-bar>.right{
  width: 200px;
  display:flex;
  justify-content:space-between;
}

.img-section{
  margin:auto;
  text-align:center;
}

.img-section>img{
  width: 900px;
  height: 500px;
}

.info-section{
  width: 900px;
  margin:auto;
  color:white;
  display:flex;
  margin-top: 20px;
}

.info-section>.menu{
  width: 20%;
}

.info-section>.menu>a>li{
  margin-bottom: 30px;
}

.info-section>.info{
  margin-left: 100px;
}


.info-section>.info>.title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 20px;
}

.info-section>.info>li{
  display:flex;
  font-size: 20px;
  margin-bottom: 30px;

}

.info-section>.info>li:first-child{
  margin-top: 30px;
}

.info-section>.info>li>div{
  margin-right: 10px;
}

.info-section>.info>li>.product-img>img{
  width: 150px;
  height: 150px;
}

.info-section>.info>li>.product-info{
  margin-left: 50px;
}

.info-section>.info>li>.product-info>button{
  color:white;
  padding: 5px 10px 5px 10px;
  background-color: rgb(33, 39, 48);
  margin-top: 50px;
}

/* 하단버튼 */
.bt_box{
  margin-top:100px;
  margin-right:30px;
  text-align:right;
  border:1px solid yellow;
}
.bt_box>button{
  height:35px;
  width:150px;
/*   background: rgb(20, 20, 20); */
  border:2px solid white;
  color:white;
  font-size:20px;
  font-family: 'NeoDunggeunmoPro-Regular';
}
.bt_box>button:hover{

  color:white;
}

.holy{
    border:2px solid white;
      color:white;
}

.page-link1{
  background-color: ;
  border:2px solid #999;
  color:white;
  font-size:20px;
  padding-right:10px;
  padding-left:10px;
  margin-right:5px;
  margin:left:5px;
  font-family: 'NeoDunggeunmoPro-Regular';
}

.page-link1:hover{
background-color: white;
color:rgb(30, 30, 30);
}
.pagination1{
margin:0;}

.page-item{
   display:inline-block;
}


hr{
  color:white;
}
