*{
  margin: 0;
  padding: 0;
   background-color: black;
}
form {
    text-align : center;
}

a{
  text-decoration:none;
  color:inherit;
}

ul,li{
  text-decoration:none;
  list-style:none;
}


/* 스타일시작 */

.container{
  width: 1200px;
  margin:auto;

}

.container>.notice{
  color:white;
  width: 900px;
  margin:auto;
  margin-top: 100px;

}

.container>.notice>.notice-subject{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}


.container>.notice>.notice-content{
  margin-top: 50px;
  font-size: 18px;
  line-height:1.8;
}


.container>.notice>.list{
  margin-top: 40px;
  font-size: 18px;
  text-align:right;
}

.container>.notice>.list>a{
  display:inline-block;
  border:1px solid white;
  padding: 5px;
  border-radius:5px;
}