*{
  margin: 0;
  padding: 0;
   background-color: black;
}
form {
    text-align : center;
}

a{
  text-decoration:none;
  color:inherit;
}

ul,li{
  text-decoration:none;
  list-style:none;
}


/* 스타일시작 */

.container{
  width: 1200px;
  margin:auto;

}

.container>.board-section{
  width: 900px;
  margin:auto;
  margin-top: 30px;
  color:white;
}

.container>.board-section>.title{
  color:white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
    width: 100%;
   border-radius:10px;
   margin-bottom: 30px;
  text-align:center;
  }

th{
  background-color: rgb(33, 39, 48);
}

td{
  padding: 10px;
}



/* 하단버튼 */
.bt_box{
  margin-top:100px;
  margin-right:30px;
  text-align:right;
  border:1px solid yellow;
}
.bt_box>button{
  height:35px;
  width:150px;
/*   background: rgb(20, 20, 20); */
  border:2px solid white;
  color:white;
  font-size:20px;
  font-family: 'NeoDunggeunmoPro-Regular';
}
.bt_box>button:hover{

  color:white;
}

.holy{
    border:2px solid white;
      color:white;
}

.page-link1{
  background-color: ;
  border:2px solid #999;
  color:white;
  font-size:20px;
  padding-right:10px;
  padding-left:10px;
  margin-right:5px;
  margin:left:5px;
  font-family: 'NeoDunggeunmoPro-Regular';
}

.page-link1:hover{
background-color: white;
color:black;

}
.pagination1{
margin:0;}

.page-item{
   display:inline-block;
}


hr{
  color:white;
}

