* {
  margin: 0;
  padding: 0;
  color:white;
  background-color: black;
}
form {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
  text-align: center;
}

.product-box {
  width: 900px;
  display: inline-block;
}

.product-box > .product {
  display: flex;
}

.product-box > .product > .product-img > img {
  width: 450px;
  height: 400px;
}

.product-box > .product > .product-info {
  text-align: left;
  margin-left: 40px;
  font-weight: bold;
  margin-top: 30px;
}

.product-box > .product > .product-info > .name {
  font-size: 40px;
  margin-bottom: 70px;
}

.product-box > .product > .product-info > .cost {
  font-size: 30px;
  margin-bottom: 10px;
}

.product-box > .product > .product-info > .averageScore {
  font-size: 25px;
}

.product-box > .product > .product-info >.form-section{
  display:flex;
}

.product-box > .product > .product-info >.form-section>form> .cart {
  margin-top: 50px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;

}

.product-box > .product > .product-info >.form-section>form> a > .buy {
  font-size: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 50px;
}


.container > .product-box > .product-infosection {
  margin-top: 50px;
  text-align: left;
}

.container > .product-box > .product-infosection > ul > .info {
  margin-bottom: 30px;
}

.container > .product-box > .product-infosection > ul > .info > .title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.container > .product-box > .product-review {
  margin-top: 100px;
  margin-bottom: 100px;
}

.product-review>ul>.review{
  border:1px solid white;
  border-radius:5px;
  padding: 20px;
  text-align:left;
}

.product-review>ul>.review{
  margin-bottom: 20px;
}

.product-review>ul>.review>.content-info{
  display:flex;
  justify-content:end;

}

.content-info>.cereate-date{
  margin-left: 10px;
}

.product-review>.review-create{
  display:flex;
  justify-content:end;
}

.product-review>.review-create>.review-btn{
  margin-bottom: 20px;
  padding: 5px;
  font-size: 18px;
  border:1px solid white;
  border-radius:5px;
}


#modal{
   position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 800px; /* 원하는 크기로 조정할 수 있습니다 */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}



.modal-content{
  background-color: black;
  color:white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 100%;
  text-align:;left
}

#modal>form>.modal-content{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}



.modal-content>.subject{
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.modal-content>input{
  width: 100%;
  height: 30px;
  border:1px solid white;
  border-radius:5px;

}

.modal-content>.score-title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}

.modal-content>.score{
  display:flex;
  justify-content:space-around;
  margin-top: 10px;
  font-size: 15px;
}

.modal-content>.content{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
}

.modal-content>textarea{
  width: 100%;
  margin-top: 10px;
  border:1px solid white;
  border-radius:5px;
}

.modal-content>.btn-section{
  display:flex;
  justify-content:end;
}

.modal-content>.btn-section>button{
  padding: 5px;
  background-color: black;
  color:white;
  border:1px solid white;
  border-radius:5px;
  margin-left: 10px;
}


.shet{
  width: 40px;
  text-align:center;
}

/* 하단버튼 */
.bt_box{
  margin-top:100px;
  margin-right:30px;
  text-align:right;
  border:1px solid yellow;
}
.bt_box>button{
  height:35px;
  width:150px;
/*   background: rgb(20, 20, 20); */
  border:2px solid white;
  color:white;
  font-size:20px;
  font-family: 'NeoDunggeunmoPro-Regular';
}
.bt_box>button:hover{

  color:white;
}

.holy{
    border:2px solid white;
      color:white;
}

.page-link1{
  background-color: ;
  border:2px solid #999;
  color:white;
  font-size:20px;
  padding-right:10px;
  padding-left:10px;
  margin-right:5px;
  margin:left:5px;
  font-family: 'NeoDunggeunmoPro-Regular';
}

.page-link1:hover{
background-color: white;
color:rgb(30, 30, 30);
}
.pagination1{
margin:0;}

.page-item{
   display:inline-block;
}
