<div class="container">
    <nav>
        <div class="logo-section">
            <ul>
                <li>
                    <div class="logo">
                        <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6efwCIykrGxmjA9JBb8IwfSNUUa2aHXLtS48RKW9bmB78J1dtr14elq-ejO0Sb-up8qI&usqp=CAU" alt=""></a>
                    </div>
                </li>
                <li><a href="">용품</a></li>
                <li><a href="">기구</a></li>
                <li><a href="">식품</a></li>
            </ul>
        </div>
        <div class="member-section">
            <ul>
                <li><a href="" sec:authorize="isAnonymous()">회원가입</a></li>
                <li><a href="" sec:authorize="isAnonymous()">로그인</a></li>
                <li><a href="" sec:authorize="isAuthenticated()">마이페이지</a></li>
                <li><a href="" sec:authorize="isAuthenticated()">로그아웃</a></li>
            </ul>
        </div>
    </nav>

</div>