<div class="container">
    <nav>
        <div class="logo-section">
            <ul>
                <li>
                    <div class="logo">
                        <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6efwCIykrGxmjA9JBb8IwfSNUUa2aHXLtS48RKW9bmB78J1dtr14elq-ejO0Sb-up8qI&usqp=CAU" alt=""></a>
                    </div>
                </li>
                <li><a href="/product/list?category=GOODS">용품</a></li>
                <li><a href="/product/list?category=EQUIPMENT">기구</a></li>
                <li><a href="/product/list?category=FOOD">식품</a></li>
            </ul>
        </div>
        <div class="member-section">
            <ul>
                <li><a th:href="@{/member/signup}" sec:authorize="isAnonymous()">회원가입</a></li>
                <li><a th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인</a></li>
                <li><a th:href="@{/mypage}" sec:authorize="isAuthenticated()">마이페이지</a></li>
                <li><a th:href="@{/member/logout}" sec:authorize="isAuthenticated()">로그아웃</a></li>
            </ul>
        </div>
    </nav>

</div>