<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<div class="container">
    <section id="formHolder">

        <section class="row">

            <!-- 회원가입 상단 -->
            <div class="heading">
                <div class="headingTop">
                    <h1>TOOLTOOL</h1>
                    <p>캠핑 장비가 없어 툴툴대는 당신을 위한</p>
                    <p>캠핑 장비 리뷰 커뮤니티 서비스</p>
                </div>
            </div>
            <!-- Signup Form -->
            <div class="signupFormPeice">
                <form class="signupForm" th:action="@{/user/findPw/sendEmail}" th:object="${mailDto}" method="post" enctype="multipart/form-data">
                    이메일 <input type="text"  th:field="*{email}" name="email">
                    전화번호 <input type="text"  th:field="*{phoneNumber}" name="phoneNumber">
                    아이디 <input type="text"  th:field="*{username}" name="username">
                    <button type="submit"> 비밀번호 찾기</button>
                </form>
            </div>
        </section>
    </section>
</div>
</body>

</html>