<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" th:href="@{/find_password.css}">
</head>
<body>
<div class="container">
    <div class="wrap">
        <div class="title">
            비밀번호 찾기
        </div>
        <form th:action="@{/user/findPw/sendEmail}"  th:object="${mailDto}" method="post">
            <div class="find-section">
                <div class="find-id-title">
                    아이디
                </div>
                <input type="text"  th:field="*{username}" class="id-name" placeholder="니 아이디 석자">
                <div class="find-id-title">
                    번호
                </div>
                <input type="text" th:field="*{phoneNumber}" class="id-phoneNumber" placeholder="니 번호 열한자">

                <div class="find-id-title">
                    E-mail
                </div>
                <input type="text" th:field="*{email}" class="id-phoneNumber" placeholder="니 이메일">
            </div>
            <div class="btn-section">
                <button type="submit" >비밀번호 찾기</button>
                <button> <a th:href="@{|/|}"> 취소</a></button>
            </div>
        </form>
    </div>
</div>
</body>

</html>